<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="css/game.css"/>
	<script type="text/javascript" src="AnguisFragilis.js"></script>
	<title>Anguis Fragilis</title>
</head>
<body>
	<div class="showUsersHighScore" th:text="'Your high score is: ' + ${userHighScore}"/>
	<div th:if="${session.latestScore}" class="showUsersHighScore" th:text="'Your latest score: ' + ${session.latestScore}"/>
	<div class="text"><p id="counter"/>
<script>
	document.getElementById("counter").innerHTML;
	</script>
</div>
	<canvas id="startGame"></canvas>
</body>
</html>
